
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Ajout d'une couleur de fond */
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 10%;
    background-color: black;
    z-index: 999;
/* Ajustez la hauteur du header selon vos besoins */
}

.navbar {
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1 {
    color: aliceblue;
    cursor: pointer;
}

.navbar .menu {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar .menu li {
    margin-right: 20px;
}

.navbar .menu li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s;
}

.navbar .menu li a:hover,
.navbar .menu li .active {
    border-bottom: 4px solid red;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: calc(80% - 60px); /* 60px est la hauteur du header */
    padding-top: 60px; /* Ajout d'un padding en haut */
}

.product {
    height: 100%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 10px;
}


.product img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product h2 {
    margin-top: 10px;
}

.discount {
    color: #e74c3c;
}

.buy-btn {
    display: block;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #2980b9;
}
